body {
  font-family: 'Open Sans', sans-serif;
  color: #444;
}


/* Typography */
p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}
h5 {
  /* line-height: 130%; */
  line-height: 2.56rem;
}
h6 {
  font-size: 1.25rem;
}


/* Element styles */
img {
  max-width: 100%;
}
blockquote {
  color: #272D4E;
  font-sizE: 1.5rem;
  /* border-color: #FDB44B; */
  border-color: #46CDCF;
}
a {
  color: #46CDCF;
}
/* a.white-text:hover {
  text-decoration: underline;
} */
nav ul a,
nav .brand-logo {
  color: #444;
}


/* Helper Classes */
.m-auto {
  margin: 0 auto;
}

.no-margin {
  margin: 0;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.bold {
  font-weight: 600;
}


/* Common styles across pages */
.image-container {
    padding: 2rem;
}

.image-container.no-pad {
  padding: 0;
}

.sub-banner {
  background: #46CDCF;
  color: #fff;
}

.custom-icon {
  /* color: #005792; */
  color: #46CDCF;
  font-size: 3rem;
}

.desc {
  font-size: 1rem;
  /* line-height: 1.667rem; */
  line-height: 1.5rem;
}

.img-text {
  font-size: 0.85rem;
  color: #979797;
}

.help-text {
  font-size: 0.85rem;
  color: #979797;
  font-style: italic;
}

.sub-text {
  font-size: 1rem;
  color: #979797;
  font-style: italic;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
  }


/* Index page (portfolio page) */
#index-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 170px);
  width: 100%;
  background: #48466D;
  color: rgba(255,255,255,.9);
}

#index-banner .strap-line {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

#isoshealth-intro {
  padding: 8rem 0;
}

#isoshealth-intro .section {
  color: #fff;
}

.isoshealth-main-img {
  background: #fafafa;
}

.my-role-row {
  display: flex;
  flex-wrap: wrap;
}

.my-role-row .card .card-image {
  background: #fafafa;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.approach {
  background: #fafafa;
}

.process.image-container {
  background-color: #fafafa;
}

.interactions {
  background: #fafafa;
  /* padding-top: 2rem; */
}

.portfolio-list .card-image {
  background: #46CDCF;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-list .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #46CDCF;
}


/* About page */
#about-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #48466D;
  color: rgba(255,255,255,.9);
  padding: 6rem 0;
}

.my-journey dl {
  position: relative;
}

.my-journey dl:before {
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  background: #46CDCF;
  border-radius: 50px;
  margin: 6px 10px 0 0;
  float: left;
}

.my-journey dl:after {
  content: '';
  border: solid 1px #d8d8d8;
  display: block;
  position: absolute;
  left: 7px;
  top: 22px;
  height: 110%;
}

.my-journey dl:first-of-type dt:before {
  content: '';
  border: solid 1px #d8d8d8;
  display: block;
  position: absolute;
  left: -11px;
  top: -29px;
  height: 42px;
  transform: rotate(-45deg);
}

.my-journey dl:last-child:after {
  transform: rotate(45deg);
  left: -11px;
  top: 14px;
  height: 49px;
}

.my-journey .col.m8 {
  position: relative;
}

.my-journey .col.m8:before {
  content: '';
  border: solid 1px #d8d8d8;
  display: block;
  position: absolute;
  left: -15px;
  top: 32px;
  height: 100%;
}

.my-journey .title {
  position: relative;
  padding-bottom: 2rem;
}

.my-journey .title:before {
  content: '';
  width: 25px;
  height: 25px;
  background: #48466D;
  border-radius: 50px;
  position: absolute;
  left: -38px;
  top: 1px;
}

.my-journey .organisation {
  padding-right: 2rem;
}

.skills {
  background: #fafafa;
  margin-top: 2rem;
}


/* Contact Page */
#contact-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #48466D;
  color: rgba(255,255,255,.9);
  padding: 6rem 0;
  height: calc(100vh - 258px);
}

#contact-banner .row {
  display: flex;
  flex-direction: column;
}

#contact-banner img {
  max-width: 30px;
  vertical-align: sub;
}

#contact-banner h5 {
  display: inline-block;
  margin-left: 0.8rem;
}


/* footer */
footer.page-footer {
  margin: 0;
  background: #3D84A8;
}

.site-map ul {
  float: right;
}

.site-map li {
  float: left;
  padding-left: 1rem;
}


/* Media queries */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 600px) {
  .my-role-row .card {
    min-height: 250px;
  }
}

@media screen and (min-width: 992px) {
  .my-role-row .card {
    min-height: 310px;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner {
    height: auto;
    padding: 6rem 0;
  }

  #index-banner .section {
    top: 0;
  }

  #isoshealth-intro {
    padding: 6rem 0;
  }

  .pt-6 {
    padding-top: 3rem;
  }

  .pb-6 {
    padding-bottom: 3rem;
  }

  .pt-3 {
    padding-top: 1.5rem;
  }

  .pb-3 {
    padding-bottom: 1.5rem;
  }

  .my-journey>.row {
    padding-left: 2rem;
  }

  .my-journey .col.m8:before {
    height: 150%;
  }

  .process ul {
    padding-left: 1rem;
  }
}

.app-parallax-container {
    background-image: url('../images/code.png');
    height: 60vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
