body {
  color: #212121;
  font-family: 'Raleway', sans-serif;
  background: #f6f6f6;
  /* background: #fefefd; */
}

html {
  font-size: 16px;
}

@media screen and (min-width: 450px) {
  html {
    font-size: 18px;
  }
}



/* Typography */
p {
  font-size: 1rem;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  line-height: 1.25;
  font-weight: 500;
  color: #212121;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
 font-size: 2rem;
}
h4 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.25rem;
}

/* Element styles */
img {
  max-width: 100%;
}

blockquote {
  color: #212121;
  font-size: 1.25rem;
  border-color: #2f3e75;
}

a {
  color: #0D47A1;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

.btn {
  padding: 0.25rem 1rem;
  height: auto;
  background: #0D47A1;
  color: #fff;
  box-shadow: none;
  border: solid 1px #0D47A1;
}

.btn:hover {
  background: #093477;
}

a.btn:hover {
  text-decoration: none;
}

.btn.secondary {
  background: transparent;
  color: #0D47A1;
}

.table {
  display: table;
  width: 100%;
  list-style: none;
  table-layout: fixed;
  padding-left: 0 !important;
}

.table-row {
  display: table-row;
  list-style-type: none;
}

.table-cell {
  display: table-cell;
  padding: 12px 8px;
  font-size: 0.78rem;
  border-right: solid 1px #c7c7c7;
  border-bottom: solid 1px #c7c7c7;
  vertical-align: middle;
}

.table-cell img {
  vertical-align: middle;
}

.table-cell:first-child {
  border-left: solid 1px #c7c7c7;
}

.heading .table-cell {
  font-weight: 600;
  background: #d8d8d8;
  /* text-align: center; */
}

.table ol {
  list-style: decimal !important;
  padding-left: 20px;
  font-size: 0.8rem;
}

.table ol li {
  list-style: decimal !important;
  font-size: 0.8rem !important;
}

/* Element styles end */

/* Helper Classes */

.m-auto {
  margin: 0 auto;
}

.mtb-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.mt-3 {
  margin-top: 3rem;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.pt-6 {
  padding-top: 6rem;
}
.pt-8 {
  padding-top: 8rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.pb-6 {
  padding-bottom: 6rem !important;
}

.bold {
  font-weight: bold;
}

@media only screen and (max-width : 600px) {
  .pt-1 {
    padding-top: 0.5rem !important;
  }
  .pt-2 {
    padding-top: 1rem !important;
  }
  .pt-3 {
    padding-top: 1.5rem;
  }
  .pt-6 {
    padding-top: 3rem;
  }
  .pb-3 {
    padding-bottom: 1.5rem !important;
  }
  .pb-6 {
    padding-bottom: 3rem !important;
  }
}

.pos-rel {
  position: relative;
}

/* Helper Class styles end */



/* Header styles */

nav {
  box-shadow: none;
  background-color: transparent;
  position: absolute;
  top: 0;
}

nav ul a,
nav .brand-logo {
  color: #212121;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1.25rem;
  text-decoration: none;
  z-index: 99;
}

nav .brand-logo {
  /* width: 7rem; */
  /* height: auto; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  font-size: 1.25rem;
  margin-top: 10px;
  line-height: 40px;
  width: 60%;
}

@media screen and (min-width: 600px) {
  nav .brand-logo {
    width: 100%;

  }
}

nav ul li {
  line-height: 40px;

  padding: 10px 0.5rem;
  /* padding-bottom: 1rem; */
}

nav ul li a {
  padding: 0 1.25rem;
  min-width: 100px;
  text-align: center;
}

nav ul li a:hover {
  text-decoration: none;
}

nav ul li.active {
  background: transparent;
}

nav ul li.active a {
  border-bottom: solid 8px #f4e594;
  background: none;
}

nav ul li.active a:hover {
  text-decoration: none;
}

.text-light nav ul li.active a {
  border-bottom: solid 8px rgba(33,33,33,0.8);
}


a.button-collapse {
  color: #0D47A1;
  text-decoration: none;
  margin-left: 0;
}

.text-light a.button-collapse {
  color: #fff;
}

a.button-collapse i {
  font-size: 2rem;
}

@media screen and (min-width: 600px) {
  nav a.button-collapse {
     display: none;
   }
   /* nav .brand-logo {
     left: 20px;
     transform: none;
   } */
}

/* Header styles end */




/* Common styles across pages */


ul.list-items {
  /* font-size: 1.25rem; */
  list-style-type: disc;
  padding-left: 1.25rem;
}

ul.list-items>li {
  list-style-type: disc;
}

.carousel {
  overflow: visible;
}

@media screen and (min-width: 600px) {
  .carousel .carousel-item {
    /* width: 25%; */
    width: 25rem;
    max-height: 32rem;
    height: auto;
  }
}

.fas.fa-external-link-alt {
  color: #0D47A1;
  margin-left: 0.25rem;
  font-size: 0.5rem;
  vertical-align: middle;
}

.sub-banner {
  background: #212121;
  padding: 8rem 1rem;
  /* margin-top: -64px; */
  /* height: 60vh; */
  color: #ebebeb;
}

.sub-banner .header {
  color: #ebebeb;
}

.bg-container {
  background: #bdbdbd;
}

.light-bg-container {
  background: #f6f6f6;
}

.container-fluid {
  width: 100%;
  padding: 0 1.5rem;
}

@media screen and (min-width: 993px) {
  .container {
      width: 85%;
  }
}


.desc {
  font-size: 1rem;
  line-height: 1.5rem;
}

.img-text {
  font-size: 0.85rem;
  color: #979797;
}

.help-text {
  font-size: 0.85rem;
  color: #979797;
  font-style: italic;
  list-style-type: none !important;
}

.sub-text {
  font-size: 1rem;
  color: #212121;
  font-style: italic;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: 350px;
}

.white-bg {
  background: #fff!important;
}

.light-border {
  border: solid 1px #BDBDBD;
}

.row .new.badge {
  float: left;
  color: #212121;
  border: solid 1px #d8d8d8;
  padding: 0 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 1rem;
  background: none;
  line-height: 20px;
}

.row .new.badge.first {
  margin-left: 0;
}

.blockquote {
  font-size: 1.25rem;
  position: relative;
  padding-left: 2rem;
  font-family: 'Permanent Marker', cursive;
}

.blockquote:before {
  content:'\201C';
  display: block;
  font-size: 3rem;
  /* line-height: 10px; */

  top: -0.5rem;
  left: -0.5rem;
  position: absolute;
}

.blockquote:after {
  content:'\201D';
  display: block;
  font-size: 3rem;
  /* line-height: 10px; */
  text-align: right;

  position: absolute;
  bottom: -0.5rem;
  right: -0.5rem;
}

.flex-container {
  display: flex;
}

.diagram-heading {
  font-family: 'Permanent Marker', cursive;
  font-size: 1rem;
}

/* Common styles end  */


/* Pagination strip styles */

.pagination {
  background: #e8e8ea;
}

.pagination .row .col {
  padding: 1rem 0;
}

@media screen and (min-width: 600px) {
  .pagination .row .col {
    padding: 2rem 0;
  }
}

/* Pagination strip styles end*/



/* Index page- landing page */
#index-banner {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  top: -64px;
  position: relative;

}

#index-banner:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,.5);
  height: 100vh;
  width: 100%;
}

#index-banner>.container {
  z-index: 1;
}

#index-banner h1,
#index-banner .strap-line {
  color: #212121;
}

#index-banner .strap-line {
  margin: 0.5rem 0 0 0;
}

@media screen and (max-width: 320px) {
  #index-banner .intro-container {
    padding-top: 4rem;
  }
}

@media screen and (min-width: 450px) {
  #index-banner .intro-container {
    /* max-width: 70vw; */
    /* max-width: 50vw; */
    /* padding-top: 10rem; */
  }
}

@media screen and (min-width: 600px) {
  #index-banner .intro-container {
    max-width: 70vw;
  }
}

@media screen and (min-width: 992px) {
  #index-banner .intro-container {
    padding-top: 8rem;
    max-width: 45vw;
  }
}

@media screen and (min-width: 1200px) {
  #index-banner .intro-container {
    max-width: 40vw;
  }
}

@media screen and (min-width: 1440px) {
  #index-banner .intro-container {
    max-width: 34vw;
  }
}

.portfolio-list .card {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

@media screen and (min-width: 450px) {
  .portfolio-list .card {
    flex-direction: row;
  }
}

.card .card-action {
  border: 0;
}

.portfolio-list .card-image {
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 275px;
  background-position: center;
}

@media screen and (min-width: 450px) {
  .portfolio-list .card-image {
    height: auto;
  }
}

.portfolio-list .project-one-image {
  background-image: url(../images/project-image1.png);
}

.portfolio-list .project-two-image {
  background-image: url(../images/project-image2.png);
}

.portfolio-list .project-three-image {
  background-image: url(../images/project-image3.png);
}

.portfolio-list .project-four-image {
  background-image: url(../images/project-image4.png);
}

.portfolio-list .project-five-image {
  background-image: url(../images/project-image5.png);
}

.portfolio-list .card-stacked {
  background: #fff;
}

.portfolio-list .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #0D47A1;
}

.portfolio-list .card-content .roles {
  margin: 1rem 0;
  display: inline-block;
}

#view_work {
  margin-top: 0.5rem;
  min-width: 206px;
}


@media screen and (min-width: 601px) {
  #view_work{
    margin-top: 0;
  }
}


.intro-container .button-container .btn {
  width: 100%;
}

/* index page ends */




/* isoshealth page */

#isoshealth-intro {
  background: #0c2f3c;
  position: relative;
  height: 60vh;
}

.my-role-row {
  display: flex;
  flex-wrap: wrap;
}

.my-role-row .card .card-title {
  margin-bottom: 1rem;
  font-weight: 400;
}

.my-role-row .card .custom-icon {
    color: #fff;
    font-size: 2rem;
    display: none;
}

@media screen and (min-width: 600px) {
  #isoshealth .my-role-row .card {
    min-height: 250px;
  }
}

@media screen and (min-width: 992px) {
  #isoshealth .my-role-row .card {
    min-height: 310px;
  }
}

.isoshealth-coding-image {
    background-image: url('../images/code.png');
    height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.isoshealth-background {
  background: #0C2F3C;
}

/* .isoshealth-intro .card-image img {
  height: 50vh;
} */

.isoshealth-intro .logo-container {
  width: 210px;
}

/* isoshealth page ends */


/* About page */

#about-banner {
  padding-top: 6rem;
  height: 100vh;
  display: flex;
  align-items: center;
  background: #f4e594;
  color: #212121;
}

#about-banner h2,
#about-banner .header {
  color: #ebebeb;
}

.my-journey dl {
  position: relative;
}

.my-journey dl:before {
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  background: #f3e595;
  border-radius: 50px;
  margin: 6px 10px 0 0;
  float: left;
}

.my-journey dl:after {
  content: '';
  border: solid 1px #d8d8d8;
  display: block;
  position: absolute;
  left: 7px;
  top: 22px;
  height: 110%;
}

.my-journey dt,
.my-journey dd {
  margin-left: 2rem;
}

.my-journey dl:first-of-type dt:before {
  content: '';
  border: solid 1px #d8d8d8;
  display: block;
  position: absolute;
  left: -11px;
  top: -29px;
  height: 42px;
  transform: rotate(-45deg);
}

.my-journey dl:last-child:after {
  transform: rotate(45deg);
  left: -11px;
  top: 14px;
  height: 49px;
}

.my-journey .col.m8 {
  position: relative;
}

.my-journey .col.m8:before {
  content: '';
  border: solid 1px #d8d8d8;
  display: block;
  position: absolute;
  left: -15px;
  top: 32px;
  height: 100%;
}

.my-journey .title {
  position: relative;
  padding-bottom: 2rem;
}

.my-journey .title:before {
  content: '';
  width: 25px;
  height: 25px;
  background: #bdbdbd;
  border-radius: 50px;
  position: absolute;
  left: -38px;
  top: 1px;
}

.my-journey .organisation {
  padding-right: 2rem;
}

@media only screen and (max-width : 600px) {
  .my-journey>.row {
    padding-left: 2rem;
  }
}


/* About page ends*/


/* Contact Page */

#contact-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 6rem 0;
  min-height: 80vh;
}

#contact-banner .row {
  display: flex;
  flex-direction: column;
}

#contact-banner h5 {
  display: inline-block;
  margin-left: 0.8rem;
}

#contact-banner .links img {
  vertical-align: middle;
}

/* Contact Page ends */




/* Navio */

#navio-intro-bg {
  background: #ffffff url(../images/navio-banner.png) 0 0 no-repeat;
  background-size: cover;
  background-position: center bottom;
  position: relative;
  height: 50vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.navio-intro, .isoshealth-intro, .airline-neutral-intro, .yomu-intro {
  padding-top: 6rem;
}

.navio-intro .card.horizontal .card-image img {
  transform: rotate(25deg);
}

.navio-intro .navio-logo {
  width: 150px
}

.navio-app-image1 {
  position: absolute;
  width: 300px;
  right: 8px;
  top: 165px;
}
.navio-app-image2 {
  position: absolute;
  left: -25px;
  width: 520px;
}

.navio .author-name {
  margin-right: 2rem;
  font-size: 0.8rem;
}


#isoshealth-intro .isoshealth-logo {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 15vw;
}

#isoshealth-intro .isoshealth-logo {
  max-width: 80%;
}

/* .big-wheel-image, .zoom-prototype-video {
  margin: 0 auto;
  display: block;
} */

.zoom-prototype-video {
  max-width: 600px;
}

@media screen and (min-width: 450px) {
  /* .big-wheel-image, .zoom-prototype-video {
    max-width: 450px;
  } */
  .zoom-prototype-video {
    max-width: 450px;
  }
}

@media screen and (min-width: 600px) {
  /* #navio-intro .navio-logo {
    max-width: 400px;
  } */
  #isoshealth-intro .isoshealth-logo {
    max-width: 500px;
  }
}

.section-heading {
  border-bottom: solid 8px #f4e594;
  font-family: 'Permanent Marker', cursive;
  margin-top: 0;
}

.sub-heading {
  font-size: 1rem;
  color: #979797;
  text-transform: uppercase;
}

/* .navio.my-role .row {
  display: flex;
  margin-bottom: 10px;
} */



.navio.my-role .card-image .col {
  margin: 0 auto;
}

.navio-process ul {
  padding-left: 1rem;
}

.navio ul, .navio ul li {
  list-style-type: disc;
  font-size: 1rem;
}

.navio-process .row {
  display: flex;
  align-items: center;
}

.table-cell .app-logo {
  width: 60px;
  /* display: block; */
}

.card-content.big-card {
  /* padding: 3rem; */
  /* padding: 2.5rem 2rem; */
  padding: 1.5rem 2rem 2rem;
}

.navio .card-image.row {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navio .card-image .col {
  padding: 0;
}

.navio-process .solution-venn-diagram {
  width: 260px;
  position: absolute;
  top: -100px;
  left: 3rem;
}


/* Navio styles end */


/* Airline project */



#airline-neutral-intro .greyed-out {
  position: absolute;
  content: '';
  display: block;
  background: rgba(255,255,255,0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#airline-neutral-intro .logo-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

#airline-neutral-intro h1 {
  background-image: radial-gradient(#fff, transparent);
  padding: 0 1rem;
}

#airline .my-role-row .fas {
  padding-right: 0.75rem;
  color: #0D47A1;
}

#airline .sub-heading {
  color: #aaa;
  font-size: 1rem;
}
.collection .collection-item {
  border-left: 6px solid #d0efb5;
  padding: 1.5rem;
  font-size: 1rem;
}

.airline-process ul {
  list-style-type: disc;
  padding-left: 1rem;
}

.airline-process ul li {
  list-style-type: disc;
  font-size: 1rem;

}

.airline-neutral-intro .project ul,
.airline-neutral-intro .project ul li {
  list-style-type: disc;
}

.airline-neutral-intro .main-image {
  position: absolute;
  top: -8rem;
  left: calc(50% - 200px);
}

/* Airline styles end */


/* footer */

footer.page-footer {
  margin: 0;
  background: #212121;
}

.footer-copyright,
.page-footer .fas.fa-external-link-alt {
  font-size: 0.875rem;
  color: #ebebeb;
  vertical-align: middle;
}

.page-footer .fas.fa-external-link-alt {
  font-size: 0.5rem;
}

@media screen and (min-width: 600px) {
  .site-nav ul {
    float: right;
  }
}

.page-footer ul {
  list-style-type: none !important;
}


.site-nav li,
.contact-links li {
  list-style-type: none !important;
  float: left;
  padding-left: 1rem;
  color: #ebebeb;
  font-size: 1rem;
}

.site-nav li a,
.contact-links li a {
  color: #ebebeb;
}

.contact-links li:first-child,
.site-nav li:first-child {
  padding-left: 0;
}

/* footer styles end */


/* yomu styles start */

.yomu-intro .help-text {
  float: left;
  width: 100%;
  margin-top: 8px;
}

.process-diagram .phase {
  padding: 0;
}

.process-diagram .name {
  padding: 2rem;
background: #4A5560;
position: relative;
border: solid 10px #4A5560;
font-family: 'Permanent Marker', cursive;
font-size: 1.5rem;
color: #fff;
}


.process-diagram .name:after {
  content: '';
  border-left: solid 2rem #4A5560;
  border-right: solid 2rem transparent;
  border-top: solid 3rem transparent;
  border-bottom: solid 3rem transparent;
  position: absolute;
  right: -72px;
  top: 0;
  bottom: 0;
  z-index: 9;
  margin-bottom: auto;
  margin-top: auto;
}

.process-diagram .name.second:after {
  right: -92px;
}

.process-diagram .name.first,
.process-diagram .name.third {
  background: #212121;

}
.process-diagram .name.first:after,
.process-diagram .name.third:after  {
  border-left-color: #212121;
}

.process-diagram .name.last:after {
  display: none;
}

.process-diagram .activities {
  padding: 1rem 1rem 0.5rem 1rem;
  text-align: left;
  list-style-type: disc;
}

.process-diagram .activities li {
  list-style-type: disc;
}

.landing-page-yomu .card-image {
  display: flex;
  align-items: center;
}

/* temporary style */
.fas.fa-external-link-alt {
  display: none;
}
