body {
  font-family: 'Montserrat', sans-serif;
  color: #444;
}
html {
  font-size: 16px;
}


/* Typography */
p {
  font-size: 1.25rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  font-weight: 500;
  color: #2f3e75;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
 font-size: 2rem;
}
h4 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.25rem;
}

/* Element styles */
img {
  max-width: 100%;
}

blockquote {
  color: #444;
  font-size: 1.25rem;
  border-color: #2f3e75;
}

a {
  color: #eb7878;
}

a:hover {
  text-decoration: underline;
}


/* main nav styles */

nav ul a,
nav .brand-logo {
  color: #444;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.1);
}

/* main nav styles end */

/* Helper Classes */
.m-auto {
  margin: 0 auto;
}

.no-margin {
  margin: 0;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.bold {
  font-weight: 600;
}


/* Common styles across pages */

.sub-banner {
  background: #2f3e75;
  padding: 4rem 1rem;
}

.sub-banner .header {
  font-size: 1.5rem;
  line-height: 1.8;
  color: #fff;
  text-align: left;
}

@media only screen and (min-width: 601px) {
  .sub-banner {
    padding: 8rem 1rem;
  }

  .sub-banner .header {
    text-align: center;
  }
  nav a.button-collapse {
     display: none;
 }
}

.bg-container {
  background: #fafafa;
}

.container-fluid {
  width: 100%;
  padding: 0 0.5rem;
}

.desc {
  font-size: 1rem;
  line-height: 1.5rem;
}

.img-text {
  font-size: 0.85rem;
  color: #979797;
}

.help-text {
  font-size: 0.85rem;
  color: #979797;
  font-style: italic;
}

.sub-text {
  font-size: 1rem;
  color: #979797;
  font-style: italic;
}

a.button-collapse {
  color: #eb7878;
  text-decoration: none;
}

a.button-collapse i {
  font-size: 2rem;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.pagination {
  background: #e8e8ea;
}

.pagination .row .col {
  padding: 2rem;
}


/* .navbar-fixed {
  z-index: 9;
}

#sidenav-overlay {
  z-index: 11;
}

#nav-mobile {
  z-index: 15;
} */




/* Index page- landing page */
#index-banner {
  background-image: url(../images/bg.png);
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
  max-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#index-banner .intro-container {
  padding: 1rem 2rem;
}

#index-banner h1,
#index-banner .strap-line {
  color: #444;
}

@media screen and (min-width: 450px) {
  #index-banner {
    justify-content: flex-end;
  }
  #index-banner .intro-container {
    max-width: 70vw;
  }
}

@media screen and (min-width: 768px) {
  /* #index-banner {
    width: 100%;
  } */
  #index-banner .intro-container {
    max-width: 36rem;
  }
}

@media screen and (min-width: 992px) {
  #index-banner {
    width: 100%;
  }
  #index-banner h1 {
    font-size: 4rem;
  }
}


.portfolio-list .card {
  background: #2f3e75;
}

.portfolio-list .card-image {
  padding: 2rem 1rem;
  height: 8rem;
}

.portfolio-list .card-stacked {
  background: #fff;
}

.portfolio-list .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #eb7878;
}

.portfolio-list .isoshealth-image {
  width: 4rem !important;
  margin: 0 auto;
}

.portfolio-list .flight-image {
  color: #fff;
}

.portfolio-list .card-title {
  color: #48466D;
  font-weight: 500;
}

/* index page ends */

/* isoshealth page */

.my-role-row {
  display: flex;
  flex-wrap: wrap;
}

.my-role-row .card .card-title {
  margin-bottom: 1rem;
  color: #2f3e75;
  font-weight: 500;
}

.my-role-row .card .custom-icon {
    color: #fff;
    font-size: 2rem;
    display: none;
}


/* isoshealth page ends */


/* About page */
#about-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #d0efb5;
  padding: 6rem 0;
}

#about-banner .header {
  color: #2f3e75;
  width: 100vw;
  padding-right: 2rem;
  padding-left: 2rem;
}

.sub-banner.journey {
  padding: 6rem 0;
}

.sub-banner.journey .header {
  font-size: 2.5rem;
}

@media screen and (min-width: 600px) {
  #about-banner .header {
    width: 50vw;
    padding: 0;
  }
}

.my-journey dl {
  position: relative;
}

.my-journey dl:before {
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  background: #f3e595;
  border-radius: 50px;
  margin: 6px 10px 0 0;
  float: left;
}

.my-journey dl:after {
  content: '';
  border: solid 1px #d8d8d8;
  display: block;
  position: absolute;
  left: 7px;
  top: 22px;
  height: 110%;
}

.my-journey dt,
.my-journey dd {
  margin-left: 2rem;
}

.my-journey dl:first-of-type dt:before {
  content: '';
  border: solid 1px #d8d8d8;
  display: block;
  position: absolute;
  left: -11px;
  top: -29px;
  height: 42px;
  transform: rotate(-45deg);
}

.my-journey dl:last-child:after {
  transform: rotate(45deg);
  left: -11px;
  top: 14px;
  height: 49px;
}

.my-journey .col.m8 {
  position: relative;
}

.my-journey .col.m8:before {
  content: '';
  border: solid 1px #d8d8d8;
  display: block;
  position: absolute;
  left: -15px;
  top: 32px;
  height: 100%;
}

.my-journey .title {
  position: relative;
  padding-bottom: 2rem;
}

.my-journey .title:before {
  content: '';
  width: 25px;
  height: 25px;
  background: #d0efb5;
  border-radius: 50px;
  position: absolute;
  left: -38px;
  top: 1px;
}

.my-journey .organisation {
  padding-right: 2rem;
}

/* About page ends*/


/* Contact Page */
#contact-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #fafafa;
  padding: 6rem 0;
  height: calc(100vh - 258px);
}

#contact-banner .row {
  display: flex;
  flex-direction: column;
}

#contact-banner img {
  max-width: 30px;
  vertical-align: sub;
}

#contact-banner h5 {
  display: inline-block;
  margin-left: 0.8rem;
}

/* Contact Page ends */

/* footer */
footer.page-footer {
  margin: 0;
  /* background: #3D84A8; */
  background: #1f1f1f;
}

.site-map ul {
  float: right;
}

.site-map li {
  float: left;
  padding-left: 1rem;
}


/* Media queries */

@media screen and (min-width: 600px) {
  .my-role-row .card {
    min-height: 250px;
  }
}

@media screen and (min-width: 992px) {
  .my-role-row .card {
    min-height: 310px;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

}

@media only screen and (max-width : 600px) {
  .pt-6 {
    padding-top: 3rem;
  }

  .pb-6 {
    padding-bottom: 3rem;
  }
  .pt-3 {
    padding-top: 1.5rem;
  }
  .pb-3 {
    padding-bottom: 1.5rem;
  }
  .pt-2 {
    padding-top: 1rem;
  }

  .my-journey>.row {
    padding-left: 2rem;
  }

  /* .my-journey .col.m8:before {
    height: 150%;
  } */
}

.app-parallax-container {
    background-image: url('../images/code.png');
    height: 60vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Airline project */

.collection .collection-item {
  border-left: 6px solid #d0efb5;
  padding: 1.5rem;
  font-size: 1rem;
}

.airline-process ul {
  list-style-type: disc;
}

.airline-process ul li {
  list-style-type: disc;
  font-size: 1.25rem;
}
